body, html {
    width: 100%;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url(carbbee.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 900;
    font-size: 2.5rem;
    color: rgb(255, 250, 250);
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(175, 11, 11, 0.75); 
    padding: 15px;
    border-radius: 150px;
}

hr {
    border-color: rgba(175, 11, 11);
    border-width: 5px;
    max-width: 70px;
    margin: 2.5rem auto;
}

.buffer {
    margin-top: 7rem;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

.btn-xl {
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.btn-primary {
    background-color: rgba(175, 11, 11);
    border-color: rgba(175, 11, 11);
}

.btn-primary:hover {
    background-color: rgb(7, 99, 19);
    border-color: rgb(7, 99, 19);
    border-width: 4px;
}
.button {
    background-color: rgba(175, 11, 11);
    color: rgba(175, 11, 11);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Details section */
.details-section {
    background-color: rgba(216, 211, 211, 0.85);
    padding: 4rem 2rem;
    margin-top: 4rem;
    border-radius: 5px;
    color: #333;
    font-size: large;
    font-weight: 500px;
}

.details-section h2 {
    color: #970202;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

/* Companies Section */
.companies-section {
    background-color: rgba(216, 211, 211, 0.85);
    padding: 4rem 2rem;
    margin-top: 4rem;
    border-radius: 5px;
    color: #333;
    box-shadow: 0 4px 10px rgba(61, 58, 58, 0.1);
}

.companies-section h2 {
    color: #970202;
    font-weight: 800;
    margin-bottom: 2rem;
}

.company-logo {
    max-height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.company-logo:hover {
    transform: scale(1.1);
}

/* Form Container Background */
.form-wrapper {
    background-color: rgba(216, 211, 211, 0.85);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 700px;
    margin: auto;
}

/* Footer */
footer {
    margin-top: 3rem;
    padding: 1rem;
    background-color: rgba(216, 211, 211, 0.85);
    color: #070000;
    font-weight: 300px;
}